@import "../../theme.scss";

.wrapper {
  margin: 0 auto;
  padding-top: 154px;
}

.container {
  margin-top: 100px;
  .menu {
    display: flex;
    gap: 15px;
  }
  .tile-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
  }
}
