@import "../../theme.scss";

.menu {
  display: flex;
  align-items: center;
  font-size: 2.6ex;
  font-weight: 600;
  color: $text-dark;
  i {
    padding-right: 30px;
    font-size: 3ex;
  }
  margin-bottom: 45px;
}

.clear-filter {
  display: flex;
  justify-content: space-between;
  .clear-menu {
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2ex;
    color: $primary-color;
    &:hover {
      cursor: pointer;
    }
    i {
      margin-right: 10px;
    }
  }
}
