@import "../../theme.scss";

.entries-wrapper {
  margin-top: 130px;
  padding-bottom: 260px;
  fieldset {
    margin: 0 auto;
    width: 488px;
    height: 70px;
    border: 2px solid $text-grey;
    border-radius: $radius;
    font-size: 2ex;
    p {
      padding-top: 3px;
      color: $text-dark;
    }
    i {
      margin: 0 10px;
    }
  }
  p {
    padding-top: 20px;
    color: $primary-color;
    font-size: 2ex;
  }
  u {
    &:hover {
      cursor: pointer;
    }
  }
}

.error {
  color: $primary-color;
}

.tick {
  color: #07b330;
}
