@import "../../theme.scss";

.layout {
  width: 100%;
}

.body {
  background: url(../../background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  text-align: center;
}
