@import "../../theme.scss";

.search-wrapper {
  padding-top: 150px;
  padding-bottom: 125px;
}

.search-box {
  margin: 0 auto;
  max-width: 820px;
  height: 80px;
  background-color: $background-white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $text-grey;
  input {
    width: 100%;
    max-width: 550px;
    font-size: 2.2ex;
    outline: none;
    border: hidden;
    color: $text-grey;
  }
  i {
    font-size: 3ex;
  }
}

.clear-btn {
  display: flex;
  align-items: center;
  i {
    color: lighten($text-grey, 28%);
  }
}

.clear-btn-active {
  display: flex;
  align-items: center;
  i {
    color: $text-grey;
    &:hover {
      cursor: pointer;
      color: darken($text-grey, 50%);
    }
  }
}
