@import "../../theme.scss";

.stats-wrapper {
  padding: 30px;
}
.stat-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  p {
    color: $text-dark;
    font-size: 2.2ex;
    font-weight: 600;
    width: 100px;
    text-align: left;
  }
  div {
    flex-grow: 1;
  }
}

.bar-outer {
  height: 48px;
  background-color: lighten($primary-color, 30%);
  border-radius: 8px;
  overflow: hidden;
  .bar-inner {
    background-color: $primary-color;
    height: 100%;
    p {
      padding-left: 20px;
      padding-top: 10px;
      color: $text-light;
      font-weight: 400;
    }
  }
}
